.content{
    padding:var(--spacing-xl) 0;

    .card{
        align-items: center;
        display:flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        text-align:center;
        width:100%;
    }

    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
    }

    h2{
        padding-top:var(--spacing-sm)
    }

}


@media screen and (max-width: $breakpoint-sm) {

        .content .cards {
            grid-template-columns: 1fr 1fr;
        }


}

@media screen and (max-width: $breakpoint-xs) {

        .content .cards {
            grid-template-columns: 1fr;
        }

        h2{
            font-size: var(--font-size-h3);
        }

}

