.pieddepage{
    background-color:var(--color-tertiary);
    color:var(--color-white);
    padding:var(--spacing-md) 0;

    .wrapper{
        align-items: center;
        display:flex;
        justify-content: space-between;
    }

    p{
        margin:0;
    }

    li{
        list-style-type: none;
    }

    ul{
        display:flex;
        gap:20px;
        margin: 0px;
    }

    nav{
        align-self: flex-end;
    }

    .logo{
        border-radius:50%;
    }
}
