.header{
    padding:var(--spacing-md) 0;

    .wrapper{
        align-items: center;
        display:flex;
        justify-content: space-between;
    }

    .logo{
        align-items: center;
        display:flex;
        color:var(--color-black);
        font-family: var(--font-secondary);
        font-size:3.2rem;
        font-weight:bold;
        gap:20px;
        justify-content: space-between;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav ul{
        display:flex;
        gap:20px;
        list-style-type: none;

        li a:hover{
            color:var(--color-black);
            font-weight: 600;
            text-decoration: none;
        }

        :nth-child(2) a{
            background-color:var(--color-black);
            color:var(--color-white);
            padding: 2px;
        }
    }
}

.header__toggle{
    display:none;
    gap:5px;

    span{
        width:20px;
        height:2px;
        background-color:var(--color-black);
        display:block;
    }
}

@media screen and (max-width: $breakpoint-sm) {

    header nav{
        display:none;
    }

    .header__toggle{
        display: grid;
        grid-template-columns: 1fr;
    }

}
