.hero{
    background-color: var(--color-secondary);
    padding-top:var(--spacing-lg);


    .wrapper{
        align-items:center;
        display:flex;
        justify-content: space-between;
    }

    .hero-content{
        align-items:center;
        display:flex;
        flex: 3;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    h1{
        text-transform: uppercase;
    }

    .suptitle{
        font-family: var(--font-secondary);
        font-size: 2.4rem;
        font-weight:bold;
        margin: 0px;
    }

    .bouton-hero{
        line-height: 20px;
        padding:12px 25px;
        width:50%;
    }

    .hero-media{
        display:flex;
        flex: 4;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .hero .wrapper{
        display:block;
    }

    .hero__content{
        /*pour enlever l'espacement a droite du au width:60%*/
        width:100%;
    }

    .hero h1{
        font-size: var(--font-size-h2);
    }

}

@media screen and (max-width: $breakpoint-xs) {
    .hero__content .boutons{
        display:block;
    }

    .hero h1{
        font-size: var(--font-size-h3);
    }
}
